*{
    padding:0;
    margin:0;

}
body{
    background: #252331;
    overflow-y:scroll;
    min-height:130vh;
}


#main{

    width: 100%;
    min-height: 100vh;
    background: #1f1d29;
    transition: 1s;
    position:absolute;
    padding-bottom:5vh;
}
.after{
    margin-top: 8vh;
    margin-bottom: 8vh;
}
.article{
    position:relative;
    left:0;
    margin-top:5vh;
    padding-top:25vh;
    padding-bottom:5vh;
    min-height:60vh;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    flex: 3 3 3;
    background-color: rgba(9, 9, 14, 0.3);
}

.container{
    position:relative;
    flex-basis:90%;
    margin:3vh;
    background: #131218;
    overflow:clip;
}

.textBlocks{
    width:30%;
    flex-basis:10%;
    display:flex;
    flex-direction: column;
    background:whitesmoke;
    height:2vh;
    flex-flow:row;
    position:relative;

    
}

#first > .textBlocks:first-child{
    margin-top:20vh;
}
#first > .textBlocks{
    margin-left:8vh;
    margin-top:2vh;
}


#second > .textBlocks{
    
    margin-left:26vh;
    margin-top:2vh;

}
#second > .textBlocks:first-child{
    margin-top:10vh;
}
#third > .textBlocks:first-child {
    margin-top: 40vh;
}
#third > .textBlocks{
    
    margin-left:8vh;
    margin-top:2vh;

}

.container.hidden{
    height: 1vh;
    opacity: 0;
    transition: 1s;
}

.container.shown {
    height:65vh;
    opacity: 1;
    transition: 1s;
}
.textBlocks.hidden {
    height: 0.1vh;
    opacity: 0;
    transition: 1s;
}
.textBlocks.shown {
    height: 2vh;
    opacity: 1;
    transition: 1s;
}